

.heading{

    font-family: $font-family;

    &-lg{
        @include font($font-family,$heading-lg,$color-white,normal);
        font-family: $font-family;

       @include viewport-lg{
            font-size:$heading-md;
        }
    
        @include viewport-sm{
            font-size:$heading-md;
        }
    }

   @include viewport-lg{
        font-size:$heading-md;
    }

    @include viewport-sm{
        font-size:$heading-md;
    }

    &-md{
        @include font($font-family,$heading-md,$color-yankees-blue,0.5);

        &::after{
            content: "";
            @include size(52%);
            display: inline-block;
            border-bottom: 2px solid #1b7dff;
            margin-top: 8px;
    
        }
    
        @include viewport-sm{
            font-size:$txt-lg;
        }

        &-info{
            @include font($font-family,$heading-md,$color-yankees-blue,null);
        }
    }

    &-sm{
        @include font($font-family,$heading-sm,$color-yankees-blue,null);
        font-weight: 600;

        @include viewport-sm{
            font-size:$txt-lg;
        }
    }
}

.txt{
    font-family: $font-family;

    &-lg{
        @include font($font-family,$txt-lg,$color-white,null);
    }

    &-md-black{
        @include font($font-family,$txt-md,$color-black,null);
    }

    &-md-white{
        @include font($font-family,$txt-md,$color-white,null);
    }

    &-sm-black{
        @include font($font-family,$txt-sm,$color-black,24px);
    }

    &-sm-white{
        @include font($font-family,$txt-sm,$color-white,24px);
        text-decoration: none;
    }

}


.primary-link{
    @include font($font-family,$txt-sm,$color-blue,null);
    text-decoration: none;
    &:hover{
        color:$color-dark-black;
    }
}

.navbar-link{
    @include font($font-family,$txt-md,$color-white,null);
    font-family: $font-family;
    text-decoration: none;

    &:hover {
        color: $color-dark-black;
        transition: 0.5s
    }
}

.description-link{
    @include font($font-family,$txt-sm,$color-white,null);
    font-family: $font-family;
    text-decoration: none;
}

